*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-color: rgb(157, 216, 241);
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

ul {
  color: rgb(4, 53, 74);
  list-style-type: none;
  padding-left: 0rem;
  font-size: 40rem;
  border-radius: 15rem 15rem 0rem 0rem;
  border: 5rem solid rgb(14, 94, 129);
  width: 750rem;
  border-bottom: none;
}

li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-top: 1rem solid rgb(14, 94, 129);
  padding: 9rem 35rem 9rem 35rem;
  background-color: rgb(177, 223, 243);
}

.loginForm {
  width: 600rem;
  margin: 200rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(9, 73, 100, 0.6);
  padding: 30rem 50rem 30rem 50rem;
  border-radius: 15rem;
  border: 2rem solid rgb(14, 94, 129);
}

h1 {
  color: white;
  margin-bottom: 20rem;
  font-size: 45rem;
}

h3 {
  display: flex;
  align-items: center;
  color: white;
  gap: 7rem;
  font-size: 25rem;
}

.backToLogin,
.singUp {
  color: rgb(9, 73, 100);
  font-size: 25rem;
  text-decoration: underline;
}

.backToLogin:hover,
.singUp:hover {
  transform: scale(1.07);
}

.backToLogin2 {
  font-size: 22rem;
  border-radius: 10rem;
  padding: 5rem 10rem 5rem 10rem;
  margin-bottom: 5rem;
  margin-left: 424rem;
  border: 3rem solid;
}

input {
  margin-bottom: 15rem;
  font-size: 30rem;
  padding: 10rem;
  border-radius: 10rem;
  color: rgb(9, 73, 100);
  width: 100%;
  border: none;
}

button {
  font-size: 25rem;
  padding: 7rem 25rem 7rem 25rem;
  border-radius: 20rem;
  font-weight: bold;
  margin-bottom: 10rem;
  color: rgb(6, 58, 80);
  border: 2rem solid rgb(6, 58, 80);
}

button:hover {
  background-color: rgb(189, 204, 211);
}

.formDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.formDiv2 {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10rem;
}

label {
  font-size: 27rem;
  color: white;
}

.newAcc {
  width: 600rem;
  margin: 200rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(9, 73, 100, 0.6);
  padding: 30rem 50rem 15rem 50rem;
  border-radius: 15rem;
  border: 2rem solid rgb(14, 94, 129);
}

.singUp-Btn {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.hidden-2 {
  display: none;
}

.hello {
  padding-top: 20rem;
  padding-left: 20rem;
  color: rgb(4, 53, 74);
}

.hidden-span {
  display: none;
}

.hidden-list {
  display: none;
}

.errorDiv,
.errorDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.errorSpan {
  display: block;
  opacity: 1;
  color: rgb(3, 37, 52);
  background-color: rgb(170, 79, 79);
  border: 1rem solid rgb(149, 0, 0);
  padding: 10rem 1rem;
  font-size: 20rem;
  border-radius: 5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 8rem;
  margin-top: -15rem;
}

.removableSpan {
  display: block;
  opacity: 1;
  color: rgb(3, 37, 52);
  background-color: rgb(170, 79, 79);
  border: 1rem solid rgb(149, 0, 0);
  padding-top: 4rem;
  font-size: 20rem;
  border-radius: 5rem;
  text-align: center;
  width: 100%;
  margin-bottom: 5rem;
}

.singUp-span2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem;
  color: rgb(3, 37, 52);
  margin-bottom: 10rem;
  font-size: 20rem;
  border: 1rem solid rgb(149, 0, 0);
  gap: 10rem;
  border-radius: 5rem;
  text-align: center;
  background-color: rgb(170, 79, 79);
  white-space: nowrap;
}

.show-span {
  display: block;
  opacity: 1;
}

.hidden-span2,
.hidden-span3,
.hidden-span4 {
  display: none;
}

.mov-type {
  padding: 5px 10px;
  border-radius: 5px;
  width: 88%;
  text-align: center;
  margin-left: 30rem;
}

.movement:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movement:last-child {
  border-bottom: none;
}

.sortDiv {
  color: rgb(4, 53, 74);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24rem;
  padding: 7rem 15rem;
  border: 5rem solid rgb(14, 94, 129);
  border-radius: 0rem 0rem 10rem 10rem;
  background-color: rgb(177, 223, 243);
}

.sortPlus:hover,
.sortMinus:hover {
  transform: scale(1.07);
}

.sortPlus,
.sortMinus {
  text-decoration: underline;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70rem;
  padding: 0rem 30rem 20rem 30rem;
}

.label2 {
  padding-top: 10rem;
  color: rgb(4, 53, 74);
}

.label22 {
  padding-top: 0rem;
  margin-top: -6rem;
}

h5 {
  font-size: 25rem;
  color: rgb(4, 53, 74);
  margin-bottom: 5rem;
}

.editDiv {
  background-color: rgb(9, 73, 100, 0.6);
  border: 5rem solid rgb(14, 94, 129);
  margin-bottom: 10rem;
  padding: 10rem 25rem 0rem 10rem;
  border-radius: 10rem;
}

.rightDiv {
  padding-top: 44rem;
}

.buttonDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-edit {
  font-size: 20rem;
  padding: 3rem 10rem;
  border-radius: 8rem;
  font-weight: bold;
  margin-bottom: 10rem;
  color: rgb(6, 58, 80);
  border: 2rem solid rgb(6, 58, 80);
}

.notification-span {
  position: relative;
  display: block;
  background-color: rgb(170, 79, 79);
  border: 1rem solid rgb(149, 0, 0);
  border-radius: 5rem;
  font-size: 20rem;
  padding: 10rem 20rem;
  margin: 10rem 0;
  color: rgb(3, 37, 52);
  width: 100%;
  text-align: center;
}

.notification-span.has-close-btn {
  padding-right: 40rem;
}

.notification-span .spanBtn {
  position: absolute;
  top: 0rem;
  right: -5rem;
  font-size: 24rem;
  border: none;
  background: transparent;
  color: rgb(3, 37, 52);
  font-weight: bold;
  cursor: pointer;
}
