*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-color: rgb(157, 216, 241);
  display: flex;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
}

.loginForm {
  width: 600rem;
  margin: 200rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(9, 73, 100, 0.6);
  padding: 30rem 50rem 30rem 50rem;
  border-radius: 15rem;
  border: 2rem solid rgb(14, 94, 129);
}

h1 {
  color: white;
  margin-bottom: 20rem;
  font-size: 45rem;
}

h3 {
  display: flex;
  align-items: center;
  color: white;
  gap: 7rem;
  font-size: 25rem;
}

p {
  color: rgb(9, 73, 100);
  font-size: 25rem;
  text-decoration: underline;
}

p:hover {
  transform: scale(1.07);
}

input {
  margin-bottom: 15rem;
  font-size: 30rem;
  padding: 10rem;
  border-radius: 10rem;
  color: rgb(9, 73, 100);
  width: 100%;
  border: none;
}

button {
  font-size: 25rem;
  padding: 7rem 25rem 7rem 25rem;
  border-radius: 20rem;
  font-weight: bold;
  margin-bottom: 10rem;
  color: rgb(6, 58, 80);
  border: 2rem solid rgb(6, 58, 80);
}

button:hover {
  background-color: rgb(189, 204, 211);
}

.formDiv {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

label {
  font-size: 27rem;
  color: white;
}

.newAcc {
  width: 600rem;
  margin: 200rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(9, 73, 100, 0.6);
  padding: 30rem 50rem 15rem 50rem;
  border-radius: 15rem;
  border: 2rem solid rgb(14, 94, 129);
}

.singUp-Btn {
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.hidden-2 {
  display: none;
}

.hello {
  padding-top: 20rem;
  padding-left: 20rem;
  color: rgb(1, 103, 171);
}

.hidden-span {
  display: none;
}

.loginSpan {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: rgb(3, 37, 52);
  margin-bottom: 10rem;
  font-size: 23rem;
  border: 1rem solid rgb(149, 0, 0);
  padding: 5rem 0rem 5rem 0rem;
  width: 100%;
  border-radius: 5rem;
  text-align: center;
  background-color: rgb(170, 79, 79);
}

.singUp-span1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem 0rem 85rem;
  color: rgb(3, 37, 52);
  margin-bottom: 10rem;
  font-size: 20rem;
  border: 1rem solid rgb(149, 0, 0);
  width: 100%;
  border-radius: 5rem;
  text-align: center;
  background-color: rgb(170, 79, 79);
}

.singUp-span2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem 0rem 72rem;
  color: rgb(3, 37, 52);
  margin-bottom: 10rem;
  font-size: 20rem;
  border: 1rem solid rgb(149, 0, 0);
  width: 100%;
  border-radius: 5rem;
  text-align: center;
  background-color: rgb(170, 79, 79);
}

.singUp-span3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 10rem 0rem 127rem;
  color: rgb(3, 37, 52);
  margin-bottom: 10rem;
  font-size: 20rem;
  border: 1rem solid rgb(149, 0, 0);
  width: 100%;
  border-radius: 5rem;
  text-align: center;
  background-color: rgb(170, 79, 79);
}

.show-span {
  display: block;
  opacity: 1;
}

.hidden-span2 {
  display: none;
}

.hidden-span3 {
  display: none;
}

.hidden-span4 {
  display: none;
}

.spanBtn {
  color: rgb(4, 43, 60);
  font-size: 15rem;
  border: 1rem solid rgb(149, 0, 0);
  border-radius: 9rem;
  padding: 3rem 7rem 3rem 7rem;
  margin-top: 6rem;
  background-color: rgb(183, 58, 58);
}
